* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: "vazir" !important;
  display: flex;
  padding: 100px 0;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

.section-center {
  width: 600px;
}

.section-center h4 {
  font-size: 25px;
  padding: 30px 0;

}

.section-center input {
  border: 1px solid #fff12f;
  padding: 7px;
  margin-right: 10px;
}

.section-center button {
  background-color: rgb(255, 71, 71);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  font-size: 22px;
  font-weight: bolder;
  width: 100px;
}

.section-center p {
  margin-top: 50px;
}