* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: "vazir" !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe3f6;
  width: 100vw;
  height: 100vh;
}

.input-fields {
  width: 330px;
  height: 55px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.input-fields input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-style: 18px;
  direction: ltr;
}

.input-fields span {
  cursor: pointer;
}